$backgroundColor: #fafafa;
$cardColor_first: #73c2d3;
$cardColor_second: #68ac8d;
$cardColor_third: #d6695e;
$cardColor_fourth: #383c45;
$cardColor_traffic:#ededed;
$cardColor_description:#f8f8f8;
$cardTextColorLight: #ffffff;
$cardTextColorDark: #000000;